.parent_card{
    height: 60%;
    width: 70%;
    overflow: hidden;
    box-shadow: 3px 5px 10px 7px #831010;
    background-color: #000000;
    border-radius: 5px;
    padding: 50px;
    text-align: center;
    display: grid;   
    justify-items: center;
}

.placeholderImgD{
    width: 380px;
    height: 500px;
}


img{
    align-self: center;
}

p{
    color:white
}

h2{       
    color:white !important;
}