.parent_card{
    height: 60%;
    width: 60%;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 #831010;
    background-color: #000000;
    border-radius: 5px;
    padding: 50px;
    text-align: center;
    display: grid;   
    justify-items: center;
}

img{
    align-self: center;
}

p{
    color:white
}