.header {
  position: fixed;
  width: 100%;
  height: 10%;
  background-color: #7209B7;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: left;
  border: 10px solid rgb(5, 89, 20);
}
  
.header h1{
  padding: 10px;
}