.card{
    height: 450px;
    width: 400px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 #E50914;
    background-color: #000000;
    border-radius: 5px;
    padding-top: 30px;
    text-align: center;
}

.well.sb{
    text-decoration: none;
}

.well.sb:hover {
    color: #831010;
    padding-bottom: 0.15rem;
    border-bottom: 4px solid #831010;
}

a{
    text-decoration: none;
}

h2 {
    color:rgb(255, 255, 255);
    padding: 15px;
}


.well.sb:hover h2{
    color: #831010;
}
