.content__display{    
    display: inline-flex; 
    flex-flow: wrap;
    gap: 35px; 
    align-content: center; /*centrira ih u sredinu*/
    justify-content: center; /*centrira ih u sredinu*/
    padding-bottom: 40px;
    padding-top: 20px;
}

.content__display_child{
    flex-basis: 33.3333%;
}


.header-style {
    /* position: fixed;
    width: 100%;
    height: 10%;
    background-color: #ae3434;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: left; */
    /* border: 10px solid rgb(5, 89, 20); */
    background-color: #831010;
  }
  