.parent {
  display: flex;
  height: 15%; 
  flex-flow: row wrap;
  column-gap: 75px; 
  align-items: center; 
  justify-content: center; 
  padding-top: 35px;
  /* border: 10px solid red; */
}

.child {
  width: 100px;  
  height: 50px; 
  box-shadow: 0 4px 8px 0 #db0000; 
  background-color: #000000;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.header a {
  color: white;
  text-decoration: none;
}

.header a:hover,
.header a:active,
.header a.active {
  color: #831010;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #831010;
}